Gender Biases in Student Evaluations of Teachers - A Randomized, Online Experiment
====================================================

In [1]:
# boilerplate
%matplotlib inline
import math
import numpy as np
import pandas as pd
from numpy.random import random
import scipy as sp
from scipy import special
import matplotlib.pyplot as plt
from __future__ import division

# initialize PRNG
rs = np.random.RandomState(seed=1)

Permutation test code
============
You must install the _permute_ package to use this code. Install instructions can be found at https://github.com/statlab/permute.

In [2]:
from permute.core import corr, two_sample  
from permute import stratified

Read data
=================

Some notes on the variables:
* **group** identifies the section the student was placed in.
* **gender** refers to the student's gender: 1 = male, 2 = female.
* **tagender** is the instructor's true gender: 1 = male, 0 = female.
* **taidgender** is the instructor's reported gender: 1 = male, 0 = female.

In [6]:
ratings = pd.read_csv("Macnell-RatingsData.csv")
ratings.head()

,group,professional,respect,caring,enthusiastic,communicate,helpful,feedback,prompt,consistent,fair,responsive,praised,knowledgeable,clear,overall,gender,age,tagender,taidgender
0,3,5,5,4,4,4,3,4,4,4,4,4,4,3,5,4,2,1990,0,1
1,3,4,4,4,4,5,5,5,5,3,4,5,5,5,5,4,1,1992,0,1
2,3,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,2,1991,0,1
3,3,5,5,5,5,5,3,5,5,5,5,3,5,5,5,5,2,1991,0,1
4,3,5,5,5,5,5,5,5,3,4,5,5,5,5,5,5,2,1992,0,1

# Analysis

### Ratings vs reported instructor gender

In [22]:
(p, t, ci, dist) = two_sample(ratings.overall[ratings.taidgender==1], ratings.overall[ratings.taidgender==0], \
                              stat = 't', interval = 'two-sided', keep_dist = True)
print 't statistic:', np.round(t, 5)
print 'P-value (two-sided):', np.round(p, 5)
print '95% Confidence Interval for the P-value', np.round(ci, 5)
print 'Number of evaluations for male-identified instructors:', np.sum(ratings.taidgender==1)
print 'Number of evaluations for female-identified instructors:', np.sum(ratings.taidgender==0)

t statistic: 1.82159
P-value (two-sided): 0.04503
95% Confidence Interval for the P-value [ 0.04375  0.04633]
Number of evaluations for male-identified instructors: 23
Number of evaluations for female-identified instructors: 20

### Ratings vs concordance of student and REPORTED instructor genders

In [21]:
ratings['gender_concordance'] = ( (ratings['gender']% 2)==ratings['taidgender'] )
stu_male = ratings[ratings['gender']==1]
stu_female = ratings[ratings['gender']==2]

(t, plow, pupper, pboth, sims) = corr(x = stu_male['overall'], y = stu_male['gender_concordance'], seed = rs)
print 'Male students\n'
print 'Number of male students:', stu_male.shape[0]
print 'Correlation:', t
print 'Upper p-value:', pupper
print 'Two-sided p-value:', pboth

(t, plow, pupper, pboth, sims) = corr(x = stu_female['overall'], y = stu_female['gender_concordance'], seed = rs)
print '\nFemale students\n'
print 'Number of female students:', stu_female.shape[0]
print 'Correlation:', t
print 'Upper p-value:', pupper
print 'Two-sided p-value:', pboth

Male students

Number of male students: 20
Correlation: 0.089757421773
Upper p-value: 0.4249
Two-sided p-value: 0.8118

Female students

Number of female students: 23
Correlation: -0.363538598784
Upper p-value: 0.9705
Two-sided p-value: 0.0824

### As a sanity check -- Ratings vs concordance of student and ACTUAL instructor genders

In [20]:
ratings['gender_concordance_actual'] = ( (ratings['gender']% 2)==ratings['tagender'] )
stu_male = ratings[ratings['gender']==1]
stu_female = ratings[ratings['gender']==2]

(t, plow, pupper, pboth, sims) = corr(x = stu_male['overall'], y = stu_male['gender_concordance_actual'], seed = rs)
print 'Male students\n'
print 'Number of male students:', stu_male.shape[0]
print 'Correlation:', t
print 'Upper p-value:', pupper
print 'Two-sided p-value:', pboth

(t, plow, pupper, pboth, sims) = corr(x = stu_female['overall'], y = stu_female['gender_concordance_actual'], seed = rs)
print '\nFemale students\n'
print 'Number of female students:', stu_female.shape[0]
print 'Correlation:', t
print 'Upper p-value:', pupper
print 'Two-sided p-value:', pboth

Male students

Number of male students: 20
Correlation: -0.0718144366713
Upper p-value: 0.6749
Two-sided p-value: 0.7227

Female students

Number of female students: 23
Correlation: 0.132379460479
Upper p-value: 0.3375
Two-sided p-value: 0.5665