Gender Biases in Student Evaluations of Teachers
====================================================

In [14]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
from numpy.random import random
import scipy as sp
from scipy import special
import matplotlib.pyplot as plt
from __future__ import division
# import permute #Install instructions at https://github.com/statlab/permute

In [15]:
dat = pd.read_stata("../../SET data/permutation_full.dta",  convert_categoricals=False )
#dat = dat[dat.admission_cep == 0]
dat.describe()

,student_id,year,dual_degree,entreescpoen,stu_male,stu_female,admission_exam,admission_cep,admission_bactb,admission_other,...,micro,ip,macro,socio,scpo,both_female,both_male,stumale_proffemale,stufemale_profmale,diff_final_cont
count,22665.000000,22665.000000,22665.000000,22665.00000,22665.000000,22665.000000,22647.000000,22647.000000,22647.00000,22647.000000,...,22665.000000,22665.000000,22665.000000,22665.000000,22665.000000,22665.000000,22665.000000,22665.000000,22665.000000,22502.000000
mean,2381.468652,2010.239268,0.100993,2010.18844,0.433179,0.566821,0.674306,0.133704,0.11220,0.031527,...,0.196867,0.197706,0.190117,0.110788,0.109243,0.177101,0.295345,0.137834,0.389720,1.601022
std,1232.740116,1.345684,0.301326,1.36306,0.495526,0.495526,0.468644,0.340342,0.31562,0.174742,...,0.397640,0.398278,0.392402,0.313876,0.311951,0.381763,0.456208,0.344733,0.487697,2.793144
min,1.000000,2008.000000,0.000000,2004.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.500000
25%,1391.000000,2009.000000,0.000000,2009.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.500000
50%,2453.000000,2010.000000,0.000000,2010.00000,0.000000,1.000000,1.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000
75%,3420.000000,2011.000000,0.000000,2011.00000,1.000000,1.000000,1.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,3.500000
max,4423.000000,2012.000000,1.000000,2012.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000

In [16]:
evals = ['q16', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10', 'q13', 'q14', 'q15']
if isinstance(dat.q16[0], str):
    for e in evals:
        dat[e].replace(['nonpertinent', 'insuffisant', 'moyen', 'bon', 'excellent'],\
                       [0,1,2,3,4],\
                       inplace=True)
    
dat['course'] = dat['prof_id']
dat['course'][dat['history']==1] = 'history' 
dat['course'][dat['micro']==1] = 'micro' 
dat['course'][dat['ip']==1] = 'ip' 
dat['course'][dat['macro']==1] = 'macro' 
dat['course'][dat['socio']==1] = 'socio' 
dat['course'][dat['scpo']==1] = 'scpo' 

dat['gender'] = dat.prof_male
dat['gender'][dat.gender==1] = 'M'
dat['gender'][dat.gender==0] = 'F'
dat['student_gender'] = dat.stu_male
dat['student_gender'][dat.student_gender==1] = 'M'
dat['student_gender'][dat.student_gender==0] = 'F'

# remove the Political Institutions courses
dat = dat[dat['course'] != 'ip']

# group the data

grouped = dat.groupby(['prof_id', 'course', 'gender', 'student_gender'])
prof_ratings = grouped[evals].mean()

pass_fail = lambda x: np.mean([xx >= 10 for xx in x])
pass_rate = grouped['note_finale'].agg([np.mean,pass_fail])

teacher_data = pd.concat([prof_ratings, pass_rate], axis=1)
teacher_data = teacher_data.rename(columns = {'mean':'mean_final_exam', '<lambda>':'pass_rate'}).reset_index()
teacher_data

C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\albor_000\Anaconda\lib\site-packages\IPython\kernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,prof_id,course,gender,student_gender,q16,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q13,q14,q15,mean_final_exam,pass_rate
0,1,scpo,F,F,3.222222,3.111111,3.000000,2.722222,2.611111,3.388889,1.555556,3.055556,3.611111,3.333333,2.333333,1.500000,1.333333,1.611111,13.425925,1.000000
1,1,scpo,F,M,3.217391,3.217391,3.086957,2.782609,2.826087,3.043478,2.217391,3.304348,3.391304,3.478261,2.391304,2.043478,1.434783,1.782609,12.992753,0.913043
2,2,micro,M,F,2.750000,2.900000,2.925000,2.825000,2.400000,2.675000,2.350000,3.125000,2.950000,2.500000,2.075000,2.225000,1.975000,1.900000,12.025641,0.800000
3,2,micro,M,M,3.000000,3.050000,3.450000,3.000000,2.450000,2.700000,2.650000,3.500000,2.850000,2.800000,2.300000,2.300000,2.000000,1.900000,13.158331,0.900000
4,3,micro,M,F,2.571429,2.357143,2.142857,2.428571,2.142857,2.928571,1.857143,2.714286,3.000000,2.571429,2.285714,3.357143,2.000000,1.928571,12.749999,0.857143
5,3,micro,M,M,3.125000,3.000000,2.750000,3.125000,2.250000,3.000000,2.375000,3.375000,3.500000,3.000000,2.375000,3.250000,2.000000,1.875000,12.770833,0.875000
6,4,scpo,F,F,3.100000,3.200000,3.100000,3.000000,2.800000,2.700000,2.900000,3.000000,2.800000,2.700000,2.200000,2.500000,1.800000,1.500000,14.733333,1.000000
7,4,scpo,F,M,2.250000,2.375000,2.000000,2.250000,2.500000,2.250000,2.625000,3.000000,2.000000,2.125000,2.250000,2.000000,2.000000,1.500000,12.979166,0.875000
8,5,micro,M,F,2.750000,2.964286,2.214286,2.357143,1.928571,2.571429,2.071429,3.178571,2.321429,2.607143,2.107143,2.285714,2.000000,1.964286,13.125000,1.000000
9,5,micro,M,M,2.857143,3.142857,2.071429,2.857143,2.714286,2.571429,2.071429,3.285714,2.214286,2.785714,2.071429,2.357143,2.000000,2.000000,12.547621,0.785714
10,6,scpo,M,F,3.333333,3.500000,3.666667,3.166667,2.833333,3.333333,3.166667,2.833333,3.333333,3.333333,2.333333,3.000000,1.666667,1.833333,11.000000,1.000000
11,6,scpo,M,M,3.375000,3.625000,3.625000,3.500000,3.375000,3.625000,3.250000,2.875000,3.625000,3.500000,2.750000,2.875000,2.000000,1.875000,13.437500,1.000000
12,7,history,M,F,2.538461,2.923077,2.846154,3.000000,2.692308,2.076923,1.384615,1.846154,1.461538,2.846154,2.384615,2.769231,2.000000,1.769231,11.641026,0.769231
13,7,history,M,M,2.875000,3.125000,3.000000,3.375000,3.000000,2.625000,1.875000,2.750000,2.250000,3.125000,2.750000,3.125000,1.875000,1.625000,12.749999,0.750000
14,7,scpo,M,F,2.730769,3.153846,2.846154,2.846154,2.769231,2.961539,2.538461,2.576923,2.884615,2.923077,2.653846,2.653846,1.769231,1.730769,13.108974,1.000000
15,7,scpo,M,M,2.791667,3.041667,3.083333,3.083333,2.958333,3.083333,2.750000,2.958333,3.083333,3.041667,2.625000,2.958333,1.833333,1.708333,12.923611,0.958333
16,8,socio,F,F,3.363636,3.272727,2.909091,3.090909,2.727273,3.090909,2.000000,3.636364,3.272727,3.272727,2.090909,2.545455,2.000000,2.000000,13.666668,0.909091
17,8,socio,F,M,2.875000,2.875000,2.750000,2.250000,2.000000,2.875000,2.500000,3.375000,2.875000,2.750000,2.125000,3.375000,2.000000,2.000000,12.437500,1.000000
18,9,socio,F,F,3.428571,3.142857,3.214286,3.142857,3.142857,3.357143,3.357143,3.428571,3.142857,3.357143,2.428571,1.857143,2.000000,2.000000,13.512821,0.857143
19,9,socio,F,M,3.600000,3.400000,2.800000,3.400000,3.400000,3.800000,2.800000,3.800000,3.600000,3.600000,2.600000,1.600000,2.000000,2.000000,14.300000,1.000000
20,10,socio,F,F,2.475410,2.688524,2.442623,2.393443,2.393443,1.901639,2.442623,2.508197,2.360656,2.344262,1.967213,2.442623,2.000000,1.983607,12.458331,0.901639
21,10,socio,F,M,2.857143,2.880952,2.833333,3.047619,2.880952,2.214286,2.500000,2.880952,2.833333,2.761905,2.190476,2.619048,2.000000,1.976190,12.619047,0.952381
22,11,socio,M,F,3.696970,3.303030,3.242424,3.424242,3.333333,3.606061,3.212121,3.848485,3.333333,3.454545,2.424242,1.818182,1.878788,1.939394,13.712120,0.969697
23,11,socio,M,M,3.400000,3.300000,3.100000,3.600000,3.100000,3.700000,2.300000,3.500000,2.900000,3.300000,2.500000,1.900000,1.800000,1.800000,12.722222,0.900000
24,12,scpo,M,F,3.272727,2.863636,3.000000,2.681818,3.000000,3.500000,2.818182,3.454545,3.318182,3.409091,2.318182,1.954545,1.772727,1.590909,13.151516,1.000000
25,12,scpo,M,M,3.000000,3.076923,2.692308,2.230769,3.076923,3.615385,2.230769,3.538461,3.384615,3.230769,2.230769,2.076923,1.846154,1.615385,12.961538,1.000000
26,13,socio,M,F,3.833333,3.666667,3.666667,3.333333,3.333333,3.666667,3.333333,3.666667,3.000000,3.500000,2.166667,2.500000,1.666667,1.333333,13.944446,1.000000
27,13,socio,M,M,3.769231,3.769231,3.615385,3.461539,3.461539,3.846154,3.230769,3.769231,3.615385,3.846154,2.538461,2.307692,1.846154,1.692308,13.025640,0.846154
28,15,socio,M,F,2.130435,2.173913,2.000000,1.782609,1.434783,1.478261,2.173913,2.434783,2.521739,2.086957,2.086957,1.913043,1.869565,1.869565,11.949276,0.869565
29,15,socio,M,M,2.058824,2.117647,2.176471,1.705882,1.588235,2.117647,2.588235,2.705882,2.529412,2.000000,1.764706,2.176471,1.941176,1.823529,13.627450,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,359,macro,M,F,3.454545,3.545455,3.181818,3.272727,3.000000,3.636364,3.000000,3.909091,3.181818,2.727273,1.909091,2.181818,2.000000,2.000000,12.266666,0.727273
691,359,macro,M,M,3.111111,3.222222,3.333333,3.111111,3.000000,3.000000,2.777778,4.000000,3.444444,3.111111,2.222222,1.888889,1.888889,2.000000,15.354166,0.777778
692,359,micro,M,F,3.454545,3.454545,3.000000,3.454545,3.090909,3.454545,3.090909,4.000000,3.272727,3.000000,2.181818,2.818182,2.000000,2.000000,12.106061,0.909091
693,359,micro,M,M,3.555556,3.555556,2.555556,4.000000,3.555556,3.666667,3.777778,4.000000,3.444444,3.444444,2.444444,3.222222,2.000000,1.888889,14.240742,1.000000
694,360,micro,F,F,3.714286,3.714286,3.571429,3.857143,3.285714,3.428571,2.571429,3.571429,3.714286,3.857143,2.285714,4.000000,2.000000,2.000000,14.166667,0.857143
695,360,micro,F,M,3.250000,3.750000,3.333333,3.666667,2.416667,2.833333,2.500000,3.500000,2.833333,3.000000,2.666667,3.833333,2.000000,2.000000,13.305556,0.916667
696,361,micro,F,F,3.000000,2.538461,2.153846,3.076923,3.000000,2.923077,1.923077,3.538461,2.692308,2.846154,2.307692,3.307692,2.000000,2.000000,12.538461,0.923077
697,361,micro,F,M,2.750000,2.125000,2.625000,3.125000,2.250000,2.500000,2.125000,3.625000,2.500000,2.500000,2.375000,2.875000,2.000000,2.000000,14.874999,1.000000
698,362,socio,F,F,3.526316,3.263158,3.000000,3.263158,3.210526,3.526316,3.210526,3.631579,3.052632,3.315789,2.526316,2.842105,2.000000,2.000000,14.201755,1.000000
699,362,socio,F,M,3.062500,2.875000,3.125000,2.687500,2.875000,3.062500,2.875000,3.750000,3.187500,3.125000,2.375000,2.687500,2.000000,1.875000,14.072917,1.000000
700,363,socio,F,F,3.090909,3.500000,3.272727,2.681818,2.863636,2.681818,2.409091,2.272727,2.636364,3.045455,2.318182,2.272727,1.818182,1.727273,13.689393,0.954545
701,363,socio,F,M,2.785714,3.214286,3.285714,2.571429,2.142857,2.428571,2.714286,2.571429,2.928571,2.928571,2.142857,2.142857,1.785714,1.642857,14.525640,0.928571
702,364,socio,M,F,3.444444,2.888889,2.888889,2.666667,2.444444,3.777778,2.777778,3.555556,3.555556,3.444444,2.555556,1.888889,1.777778,1.777778,14.296295,1.000000
703,364,socio,M,M,3.428571,3.142857,3.285714,2.714286,3.000000,3.571429,2.571429,3.714286,3.428571,3.571429,2.142857,2.285714,1.857143,1.571429,12.952380,0.857143
704,365,macro,M,F,3.785714,3.857143,3.285714,3.500000,3.428571,3.285714,2.214286,3.642857,3.857143,3.500000,2.714286,3.071429,2.000000,2.000000,12.559524,0.928571
705,365,macro,M,M,3.375000,3.375000,3.125000,3.250000,3.000000,3.000000,1.875000,3.375000,3.125000,2.750000,2.250000,3.625000,2.000000,2.000000,15.083333,0.875000
706,366,scpo,F,F,2.250000,2.000000,2.250000,1.750000,1.875000,1.875000,2.250000,1.500000,2.375000,2.250000,2.375000,2.375000,1.625000,1.375000,12.874999,1.000000
707,366,scpo,F,M,1.750000,1.250000,1.500000,1.250000,1.750000,1.500000,1.750000,1.000000,2.000000,1.500000,2.000000,2.000000,1.500000,1.250000,12.041666,1.000000
708,367,macro,M,F,3.083333,2.916667,2.750000,3.166667,2.250000,3.333333,1.250000,2.916667,3.833333,3.000000,2.166667,2.166667,1.916667,2.000000,13.166667,0.833333
709,367,macro,M,M,2.857143,3.000000,2.857143,3.142857,2.857143,3.142857,1.714286,3.000000,2.285714,2.571429,2.142857,2.000000,2.000000,2.000000,14.666666,1.000000
710,368,macro,M,F,3.750000,3.500000,3.375000,3.500000,3.500000,3.375000,3.000000,3.875000,3.625000,3.250000,2.375000,2.250000,2.000000,2.000000,13.895834,0.875000
711,368,macro,M,M,3.750000,3.500000,3.250000,3.500000,3.500000,4.000000,3.500000,3.500000,3.750000,3.500000,3.000000,2.250000,1.750000,1.750000,11.208334,1.000000
712,369,macro,F,F,2.235294,2.000000,1.352941,2.764706,2.235294,1.647059,0.705882,2.823529,2.823529,1.764706,1.941176,2.000000,2.000000,2.000000,13.009804,0.882353
713,369,macro,F,M,2.650000,2.550000,2.300000,3.150000,2.800000,2.100000,1.600000,2.950000,3.000000,2.650000,2.150000,2.000000,2.000000,1.900000,13.650000,0.900000
714,370,macro,M,F,3.444444,3.333333,3.444444,3.333333,2.888889,3.444444,2.555556,3.777778,3.666667,3.111111,2.222222,2.333333,2.000000,1.888889,13.629629,0.777778
715,370,macro,M,M,3.800000,3.800000,3.100000,3.800000,2.700000,3.300000,1.500000,4.000000,3.900000,3.400000,2.300000,2.400000,2.000000,2.000000,14.050000,1.000000
716,371,macro,M,F,2.285714,2.142857,2.214286,2.500000,2.285714,1.785714,0.714286,2.428571,2.857143,2.357143,2.285714,1.785714,1.214286,1.500000,14.023809,0.857143
717,371,macro,M,M,2.150000,1.850000,1.600000,1.900000,2.200000,1.850000,1.050000,2.500000,3.100000,2.250000,1.650000,1.700000,1.300000,1.650000,12.758334,0.850000
718,372,macro,M,F,3.300000,3.100000,3.600000,3.100000,2.800000,3.800000,2.000000,3.600000,3.800000,2.900000,2.400000,3.000000,1.800000,1.600000,14.550000,0.900000
719,372,macro,M,M,3.700000,3.500000,3.700000,3.200000,3.300000,3.700000,3.100000,3.600000,3.700000,3.600000,2.600000,3.000000,2.000000,2.000000,13.700000,1.000000

Inter-rater Reliability
---------------------
The matrix has a row for each student and a column for each class they took.

In [17]:
#stud_ratings = dat.pivot_table(rows = 'student_id', columns = ['stud_gender','triplette_new'])

Code for running the analyses
===============

In [18]:

def corr(x, y, reps=10**4, rs=None):
    '''
    Simulate permutation p-value for Spearman correlation coefficient
    Returns test statistic, simulations, left-sided p-value, right-sided p-value, two-sided p-value
    '''
    if rs == None:
        rs = np.random.RandomState()
    t = np.corrcoef(x, y)[0,1]
    sims = [np.corrcoef(rs.permutation(x), y)[0,1] for i in range(reps)]
    return t, np.sum(sims <= t)/reps, np.sum(sims >= t)/reps, np.sum(np.abs(sims) >= math.fabs(t))/reps, sims

def stratCorrTst(x, y, group):
    '''
    Calculates sum of Spearman correlations between x and y, computed separately in each group.
    '''
    tst = 0.0
    for g in np.unique(group):
        gg = (group == g)
        if ( (np.var(x[gg]) > 0) and (np.var(y[gg]) > 0) ):
            tst += np.corrcoef(x[gg], y[gg])[0,1]
    return tst

def permuteWithinGroups(x, group, rs=None):
    '''
    Permutes the elements of x within groups
    Input: ndarray x to be permuted, ndarray group of group ids, np.random.RandomState object rs
    '''
    if rs == None:
        rs = np.random.RandomState()
    permuted = x.copy()
    for g in np.unique(group):
        gg = group == g
        permuted[gg] = rs.permutation(permuted[gg])      
    return permuted

def stratCorr(x, y, group, rs, reps=10**4):
    '''
    Simulate permutation p-value of stratified Spearman correlation test.
    Returns test statistic, simulations, left-sided p-value, right-sided p-value, two-sided p-value
    '''
    t = stratCorrTst(x, y, group)
    sims = [stratCorrTst(permuteWithinGroups(x, group, rs), y, group) for i in range(reps)]
    return t, np.sum(sims <= t)/reps, np.sum(sims >= t)/reps, np.sum(np.abs(sims) >= math.fabs(t))/reps, sims

In [19]:
rs = np.random.RandomState(seed=1)

(t, plower, pupper, pboth, sims) = corr(x = teacher_data.q16, y = teacher_data.mean_final_exam, rs = rs)
print t, plower, pupper, pboth
# Want to do it separately for each gender
# Also test correlation between evaluation scores and gender.



# Stratify by gender
(t, plower, pupper, pboth, sims) = stratCorr(x = teacher_data.q16, y = teacher_data.mean_final_exam,
                                            group = teacher_data.gender, rs = rs)
print t, plower, pupper, pboth

0.0528246921143 0.9245 0.0755 0.1541
0.0844165849014 0.862 0.138 0.2735

In [20]:
# Defining the fun times for class
dat['plumTime'] = (dat['extremetime'] < 2) & dat['day'].isin([2,3,4])

In [21]:
grouped = dat.groupby(['prof_id', 'gender'])
prof_ratings = grouped[evals].mean()

prof_ratings

,,q16,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q13,q14,q15
prof_id,gender,,,,,,,,,,,,,,
1,F,3.219512,3.170732,3.048780,2.756098,2.731707,3.195122,1.926829,3.195122,3.487805,3.414634,2.365854,1.804878,1.390244,1.707317
2,M,2.833333,2.950000,3.100000,2.883333,2.416667,2.683333,2.450000,3.250000,2.916667,2.600000,2.150000,2.250000,1.983333,1.900000
3,M,2.772727,2.590909,2.363636,2.681818,2.181818,2.954545,2.045455,2.954545,3.181818,2.727273,2.318182,3.318182,2.000000,1.909091
4,F,2.722222,2.833333,2.611111,2.666667,2.666667,2.500000,2.777778,3.000000,2.444444,2.444444,2.222222,2.277778,1.888889,1.500000
5,M,2.785714,3.023809,2.166667,2.523809,2.190476,2.571429,2.071429,3.214286,2.285714,2.666667,2.095238,2.309524,2.000000,1.976190
6,M,3.357143,3.571429,3.642857,3.357143,3.142857,3.500000,3.214286,2.857143,3.500000,3.428571,2.571429,2.928571,1.857143,1.857143
7,M,2.732394,3.070423,2.943662,3.014085,2.845070,2.802817,2.323944,2.591549,2.619718,2.971831,2.605634,2.830986,1.845070,1.718310
8,F,3.157895,3.105263,2.842105,2.736842,2.421053,3.000000,2.210526,3.526316,3.105263,3.052632,2.105263,2.894737,2.000000,2.000000
9,F,3.473684,3.210526,3.105263,3.210526,3.210526,3.473684,3.210526,3.526316,3.263158,3.421053,2.473684,1.789474,2.000000,2.000000
10,F,2.631068,2.766990,2.601942,2.660194,2.592233,2.029126,2.466019,2.660194,2.553398,2.514563,2.058252,2.514563,2.000000,1.980582
11,M,3.627907,3.302325,3.209302,3.465116,3.279070,3.627907,3.000000,3.767442,3.232558,3.418605,2.441860,1.837209,1.860465,1.906977
12,M,3.171429,2.942857,2.885714,2.514286,3.028571,3.542857,2.600000,3.485714,3.342857,3.342857,2.285714,2.000000,1.800000,1.600000
13,M,3.789474,3.736842,3.631579,3.421053,3.421053,3.789474,3.263158,3.736842,3.421053,3.736842,2.421053,2.368421,1.789474,1.578947
15,M,2.100000,2.150000,2.075000,1.750000,1.500000,1.750000,2.350000,2.550000,2.525000,2.050000,1.950000,2.025000,1.900000,1.850000
16,F,2.833333,2.976191,2.547619,2.523809,2.404762,2.785714,2.428571,2.833333,2.714286,2.857143,2.214286,3.595238,1.809524,1.690476
17,M,3.235294,3.235294,2.647059,2.552941,2.705882,3.023530,2.823529,2.835294,2.964706,3.447059,2.505882,1.964706,1.952941,1.917647
18,M,2.351351,2.540540,2.540540,2.702703,2.297297,1.810811,2.270270,2.702703,2.648649,1.972973,1.810811,3.216216,1.972973,1.945946
19,M,3.000000,3.000000,3.200000,3.050000,2.600000,3.550000,2.250000,3.550000,3.750000,2.900000,2.200000,1.950000,2.000000,1.850000
20,M,3.153846,3.205128,3.051282,3.179487,3.000000,2.820513,2.333333,3.410256,3.384615,2.923077,2.282051,3.435897,2.000000,2.000000
21,M,3.064516,3.161290,3.290323,3.161290,2.838710,2.774194,1.903226,3.290323,2.935484,2.935484,2.225806,2.290323,1.903226,1.838710
22,M,1.975610,1.682927,1.878049,1.853659,1.560976,1.926829,2.317073,2.536585,2.268293,1.682927,1.804878,2.829268,1.682927,1.658537
23,M,3.813559,3.796610,3.559322,3.440678,3.525424,3.796610,3.033898,3.728814,3.033898,3.627119,2.677966,3.033898,2.000000,1.983051
24,F,3.517857,3.482143,3.196429,3.250000,3.196429,3.285714,3.410714,3.482143,2.767857,3.392857,2.714286,3.500000,1.964286,1.982143
25,F,3.100000,3.100000,3.050000,2.950000,3.150000,2.900000,2.900000,3.500000,2.600000,3.150000,2.750000,3.500000,2.000000,2.000000
26,M,3.423913,3.315217,3.097826,3.152174,3.163043,3.206522,2.434783,3.445652,2.336957,3.326087,2.576087,2.826087,1.956522,1.978261
27,M,3.000000,3.032258,2.903226,2.741935,3.000000,2.548387,2.806452,3.161290,2.935484,2.967742,2.129032,1.838710,1.935484,1.935484
30,M,3.350000,3.400000,3.450000,3.350000,2.450000,3.000000,3.000000,3.250000,3.650000,2.850000,2.200000,3.050000,2.000000,1.850000
31,M,3.325000,3.325000,2.950000,3.250000,3.125000,3.125000,2.025000,3.350000,3.075000,2.950000,2.200000,1.975000,2.000000,1.925000
32,M,1.650000,2.150000,2.000000,2.050000,1.700000,1.700000,1.900000,2.150000,2.250000,1.350000,1.650000,1.850000,2.000000,1.850000
33,F,3.428571,3.452381,3.238095,3.428571,3.357143,3.285714,1.880952,3.357143,3.309524,3.166667,2.214286,2.476191,2.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,M,3.400000,3.250000,3.050000,3.150000,3.400000,3.400000,3.200000,3.800000,3.300000,3.500000,2.200000,1.750000,2.000000,2.000000
341,F,2.545455,2.181818,2.818182,2.727273,2.181818,2.090909,2.363636,2.363636,3.090909,2.454545,2.363636,3.090909,1.909091,2.000000
342,M,1.971429,2.057143,1.885714,2.028571,1.885714,1.400000,1.828571,2.314286,2.085714,1.771429,1.771429,2.200000,1.257143,1.314286
343,F,2.796296,2.814815,2.703704,2.888889,2.870370,2.796296,2.648148,3.370370,2.814815,2.629630,1.962963,1.851852,1.685185,1.851852
344,M,3.295455,3.613636,3.659091,3.477273,3.204545,3.000000,1.659091,3.704545,3.750000,3.295455,2.227273,1.977273,1.795455,1.886364
345,F,3.073171,2.975610,3.000000,2.707317,3.000000,3.073171,2.780488,2.829268,2.609756,2.902439,2.317073,2.487805,1.536585,1.487805
346,F,3.307692,3.538461,3.153846,3.461539,3.538461,3.384615,3.461539,3.692308,3.692308,3.230769,2.153846,2.461539,2.000000,1.923077
349,F,3.294118,3.176471,3.000000,3.235294,3.235294,2.823529,2.294118,3.411765,2.705882,2.823529,2.352941,2.058824,2.000000,1.882353
350,F,2.450000,2.700000,2.750000,2.800000,2.500000,2.400000,2.700000,3.000000,2.350000,2.600000,2.250000,2.050000,2.000000,1.950000
351,F,3.133333,3.333333,3.133333,3.000000,3.066667,2.800000,1.533333,3.400000,2.466667,3.266667,2.133333,2.333333,1.933333,1.666667
353,M,3.650000,3.800000,3.200000,3.500000,3.650000,3.450000,2.650000,3.550000,3.000000,3.750000,2.550000,2.500000,2.000000,1.850000
354,M,3.400000,2.900000,2.600000,2.550000,3.200000,3.300000,2.650000,3.450000,3.450000,3.400000,2.400000,1.700000,2.000000,1.800000
355,M,3.250000,3.281250,3.093750,3.093750,3.000000,3.531250,2.562500,3.593750,3.312500,3.156250,2.375000,2.375000,1.968750,1.968750
356,F,2.666667,3.025641,3.000000,3.076923,2.512820,2.333333,2.205128,2.435897,2.384615,2.384615,2.512820,3.230769,2.000000,1.923077
357,M,3.315789,3.263158,3.000000,2.789474,2.947368,3.473684,2.368421,3.210526,2.736842,3.210526,2.263158,2.368421,1.947368,1.947368
358,F,3.254902,3.117647,3.549020,3.352941,3.254902,3.019608,2.392157,3.588235,3.098039,3.000000,2.294118,2.490196,1.745098,1.843137
359,M,3.400000,3.450000,3.025000,3.450000,3.150000,3.450000,3.150000,3.975000,3.325000,3.050000,2.175000,2.525000,1.975000,1.975000
360,F,3.421053,3.736842,3.421053,3.736842,2.736842,3.052632,2.526316,3.526316,3.157895,3.315789,2.526316,3.894737,2.000000,2.000000
361,F,2.904762,2.380952,2.333333,3.095238,2.714286,2.761905,2.000000,3.571429,2.619048,2.714286,2.333333,3.142857,2.000000,2.000000
362,F,3.314286,3.085714,3.057143,3.000000,3.057143,3.314286,3.057143,3.685714,3.114286,3.228571,2.457143,2.771429,2.000000,1.942857
363,F,2.972222,3.388889,3.277778,2.638889,2.583333,2.583333,2.527778,2.388889,2.750000,3.000000,2.250000,2.222222,1.805556,1.694444
364,M,3.437500,3.000000,3.062500,2.687500,2.687500,3.687500,2.687500,3.625000,3.500000,3.500000,2.375000,2.062500,1.812500,1.687500
365,M,3.636364,3.681818,3.227273,3.409091,3.272727,3.181818,2.090909,3.545455,3.590909,3.227273,2.545455,3.272727,2.000000,2.000000
366,F,2.083333,1.750000,2.000000,1.583333,1.833333,1.750000,2.083333,1.333333,2.250000,2.000000,2.250000,2.250000,1.583333,1.333333
367,M,3.000000,2.947368,2.789474,3.157895,2.473684,3.263158,1.421053,2.947368,3.263158,2.842105,2.157895,2.105263,1.947368,2.000000
368,M,3.750000,3.500000,3.333333,3.500000,3.500000,3.583333,3.166667,3.750000,3.666667,3.333333,2.583333,2.250000,1.916667,1.916667
369,F,2.459460,2.297297,1.864865,2.972973,2.540540,1.891892,1.189189,2.891892,2.918919,2.243243,2.054054,2.000000,2.000000,1.945946
370,M,3.631579,3.578947,3.263158,3.578947,2.789474,3.368421,2.000000,3.894737,3.789474,3.263158,2.263158,2.368421,2.000000,1.947368
371,M,2.205882,1.970588,1.852941,2.147059,2.235294,1.823529,0.911765,2.470588,3.000000,2.294118,1.911765,1.735294,1.264706,1.588235
372,M,3.500000,3.300000,3.650000,3.150000,3.050000,3.750000,2.550000,3.600000,3.750000,3.250000,2.500000,3.000000,1.900000,1.800000

In [22]:
grouped = dat.groupby(['prof_id'])
theCols = evals + ['prof_male']
prof_ratings = grouped[theCols].agg(np.mean)

(t, plower, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.prof_male, rs = rs)
print t, plower, pupper, pboth
# Want to do it separately for each gender
# Also test correlation between evaluation scores and gender.

0.0794038828667 0.9152 0.0848 0.1706

#Data Analysis

###First examine relationship between ratings and student performance, by course subject

In [ ]:
(t, plower, pupper, pboth, sims) = stratCorr(x = dat[~np.isnan(dat['note_cm'])]['prof_male'], 
                                            y = dat[~np.isnan(dat['note_cm'])]['note_cm'],
                                            group = dat['student_id'], rs = rs, reps=10**3)
print t, plower, pupper, pboth

In [36]:
pd.DataFrame(sims).describe()

               0
count  10.000000
mean    0.477509
std    19.317952
min   -24.933654
25%   -18.195466
50%     3.809808
75%    14.810644
max    28.804578

In [ ]:
# Analyzing the correlation btw avg evaluation score and gender, by course
print 'Analyzing the correlation btw avg evaluation score and gender, by course' 

theCols = evals + ['prof_male','plumTime']

grouped = dat.groupby(['prof_id'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.prof_male, rs = rs)
print 'overall', t, pupper, prof_ratings['prof_male'].sum(), \
      (1-prof_ratings['prof_male']).sum(),\
       prof_ratings['prof_male'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['prof_id'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.prof_male, rs = rs)
    print topic, t, pupper, prof_ratings['prof_male'].sum(), \
    (1-prof_ratings['prof_male']).sum(),  prof_ratings['prof_male'].size

In [19]:
# Analyzing the correlation btw avg evaluation score and desirable time, by course
print 'Analyzing the correlation btw avg evaluation score and desirable time, by course' 

theCols = evals + ['prof_male','plumTime']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.plumTime, rs = rs)
print 'overall', t, pupper, prof_ratings['plumTime'].sum(), \
      (1-prof_ratings['plumTime']).sum(),\
       prof_ratings['plumTime'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.plumTime, rs = rs)
    print topic, t, pupper, prof_ratings['plumTime'].sum(), \
    (1-prof_ratings['plumTime']).sum(),  prof_ratings['plumTime'].size

Analyzing the correlation btw avg evaluation score and desirable time, by course
overall 0.0204806118802 0.234 432 745 1177

history -0.0195341832805 0.6124 90 134 224
ip -0.0600664348447 0.821 75 152 227
macro 0.0243616949266 0.3631 77 152 229
micro -0.00108273545205 0.5092 81 145 226
scpo 0.0152583150004 0.4272 53 82 135
socio 0.173057340922 0.0198 56 80 136

In [20]:
# Analyzing the correlation btw avg evaluation score and avg cont assessment grades, by instructor
print 'Analyzing the correlation btw avg evaluation score and cont assessment, by instructor' 

theCols = evals + ['prof_male','plumTime','note_conf']

grouped = dat.groupby(['prof_id'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_conf, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['note_conf'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['prof_id'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_conf, rs = rs)
    print topic, t, pupper, prof_ratings['note_conf'].size

Analyzing the correlation btw avg evaluation score and cont assessment, by instructor
overall 0.0339705120032 0.2572 372

history 0.230161612418 0.027 70
ip -0.0260723288441 0.5934 64
macro 0.232746688753 0.0125 92
micro 0.128885465346 0.1103 94
scpo 0.120833856289 0.1994 48
socio 0.194304589162 0.0771 56

In [14]:
#Matching teacher with student gender, overall satisfaction

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale['q16'], y=dMale['stu_male'], reps=10**5, rs=rs)
print t, pupper

0.0831445895209 0.0

In [15]:
(t, plow, pupper, pboth, sims) = corr(x=dFemale['q16'], y=dFemale['stu_female'], reps=10**5, rs=rs)
print t, pupper

-0.00233685533328 0.57524

<hr />
<hr />


## Association between student grades and teacher gender, by student
The analysis omits grades in PI, for two reasons: 
1. The final exam is oral
2. There is a large imbalance in the gender of the instructors: 52 male, 12 female
3. Since the course is "easy," that would bias results in favor of making male instructors look more effective

In [21]:
# Analyzing the correlation btw avg evaluation score and avg cont assessment grades, by course number
print 'Analyzing the correlation btw avg evaluation score and cont assessment, by course number' 

theCols = evals + ['prof_male','plumTime','note_conf']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_conf, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['note_conf'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_conf, rs = rs)
    print topic, t, pupper, prof_ratings['note_conf'].size

Analyzing the correlation btw avg evaluation score and cont assessment, by course number
overall 0.100974571314 0.0 1177

history 0.322874961577 0.0 224
ip 0.056013141146 0.1994 227
macro 0.229445210663 0.0002 229
micro 0.186667201697 0.0027 226
scpo 0.169692942424 0.0265 135
socio 0.269476214441 0.0007 136

In [22]:
# Analyzing the correlation btw avg evaluation score and final exam grade, by course number
print 'Analyzing the correlation btw avg evaluation score and final exam grade, by course number' 

theCols = evals + ['prof_male','plumTime','note_cm']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_cm, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['note_cm'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_cm, rs = rs)
    print topic, t, pupper, prof_ratings['note_cm'].size

Analyzing the correlation btw avg evaluation score and final exam grade, by course number
overall 0.0234975513567 0.2119 1177

history 0.0348491783782 0.2954 224
ip 0.240892409438 0.0 227
macro 0.116619238606 0.0401 229
micro 0.117591704876 0.04 226
scpo 0.00229264434087 0.494 135
socio 0.0613407926159 0.2446 136

In [28]:
# Analyzing the correlation btw avg teaching dimension scores and final exam grade, by course number
print 'Analyzing the correlation btw teaching dimension scores and final exam grade, by course number' 

theCols = evals + ['prof_male','plumTime','note_cm']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q5, y = prof_ratings.note_cm, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['note_cm'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q5, y = prof_ratings.note_cm, rs = rs)
    print topic, t, pupper, prof_ratings['note_cm'].size

Analyzing the correlation btw teaching dimension scores and final exam grade, by course number
overall -0.00657229557158 0.5899 1177

history -0.035271381641 0.701 224
ip 0.174244623462 0.0031 227
macro 0.0812193550034 0.1091 229
micro 0.0786543480669 0.1159 226
scpo 0.0550156342365 0.266 135
socio 0.0821015630437 0.1687 136

In [30]:
#Matching male teacher with student gender, quality of animation

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale['q5'], y=dMale['stu_male'], rs=rs)
print t, pupper

0.0500726660388 0.0

In [33]:
#Matching male teacher with student gender, preparation & organization

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

dMale = dMale[~np.isnan(dMale['q1'])]

(t, plow, pupper, pboth, sims) = corr(x=dMale['q1'], y=dMale['stu_male'], rs=rs)
print t, pupper

0.0306027094203 0.0003

In [32]:
#Matching female teacher with student gender, preparation & organization

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dFemale['q1'], y=dFemale['stu_male'], rs=rs)
print t, pupper

-0.0157071192709 0.9066

In [36]:
#Matching male student with teacher gender, overall satisfaction
dMale_stu = dat[dat['stu_male']==1]
dFemale_stu = dat[dat['stu_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale_stu['q16'], y=dMale_stu['prof_male'], rs=rs)
print t, pupper

0.107326540221 0.0

In [37]:
#Matching male teacher with student gender, concordance grade

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale['note_conf'], y=dMale['stu_male'], rs=rs)
print t, pupper

nan 0.0

In [21]:
# Analyzing the correlation btw avg evaluation score and avg cont assessment grades, by course number
print 'Analyzing the correlation btw avg evaluation score and cont assessment, by course number' 

theCols = evals + ['prof_male','plumTime','note_conf']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_conf, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['note_conf'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_conf, rs = rs)
    print topic, t, pupper, prof_ratings['note_conf'].size

Analyzing the correlation btw avg evaluation score and cont assessment, by course number
overall 0.100974571314 0.0 1177

history 0.322874961577 0.0 224
ip 0.056013141146 0.1994 227
macro 0.229445210663 0.0002 229
micro 0.186667201697 0.0027 226
scpo 0.169692942424 0.0265 135
socio 0.269476214441 0.0007 136

In [22]:
# Analyzing the correlation btw avg evaluation score and final exam grade, by course number
print 'Analyzing the correlation btw avg evaluation score and final exam grade, by course number' 

theCols = evals + ['prof_male','plumTime','note_cm']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_cm, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['note_cm'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.note_cm, rs = rs)
    print topic, t, pupper, prof_ratings['note_cm'].size

Analyzing the correlation btw avg evaluation score and final exam grade, by course number
overall 0.0234975513567 0.2119 1177

history 0.0348491783782 0.2954 224
ip 0.240892409438 0.0 227
macro 0.116619238606 0.0401 229
micro 0.117591704876 0.04 226
scpo 0.00229264434087 0.494 135
socio 0.0613407926159 0.2446 136

In [28]:
# Analyzing the correlation btw avg teaching dimension scores and final exam grade, by course number
print 'Analyzing the correlation btw teaching dimension scores and final exam grade, by course number' 

theCols = evals + ['prof_male','plumTime','note_cm']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q5, y = prof_ratings.note_cm, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['note_cm'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q5, y = prof_ratings.note_cm, rs = rs)
    print topic, t, pupper, prof_ratings['note_cm'].size

Analyzing the correlation btw teaching dimension scores and final exam grade, by course number
overall -0.00657229557158 0.5899 1177

history -0.035271381641 0.701 224
ip 0.174244623462 0.0031 227
macro 0.0812193550034 0.1091 229
micro 0.0786543480669 0.1159 226
scpo 0.0550156342365 0.266 135
socio 0.0821015630437 0.1687 136

In [30]:
#Matching male teacher with student gender, quality of animation

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale['q5'], y=dMale['stu_male'], rs=rs)
print t, pupper

0.0500726660388 0.0

In [31]:
#Matching male teacher with student gender, preparation & organization

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale['q1'], y=dMale['stu_male'], rs=rs)
print t, pupper

nan 0.0

In [32]:
#Matching female teacher with student gender, preparation & organization

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dFemale['q1'], y=dFemale['stu_male'], rs=rs)
print t, pupper

-0.0157071192709 0.9066

In [36]:
#Matching male student with teacher gender, overall satisfaction
dMale_stu = dat[dat['stu_male']==1]
dFemale_stu = dat[dat['stu_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale_stu['q16'], y=dMale_stu['prof_male'], rs=rs)
print t, pupper

0.107326540221 0.0

In [37]:
#Matching male teacher with student gender, concordance grade

dMale = dat[dat['prof_male']==1]
dFemale = dat[dat['prof_female']==1]

(t, plow, pupper, pboth, sims) = corr(x=dMale['note_conf'], y=dMale['stu_male'], rs=rs)
print t, pupper

nan 0.0

In [48]:
# Analyzing the correlation btw avg evaluation score and difference btw continuous assessment and final grade, by course number
print 'Analyzing the correlation btw avg evaluation score and difference btw continuous assessment and final grade, \
by course number' 

theCols = evals + ['prof_male','plumTime','note_cm', 'diff_final_cont']

grouped = dat.groupby(['course_number'])
prof_ratings = grouped[theCols].agg(np.mean)
(t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.diff_final_cont, rs = rs)
print 'overall', t, pupper,\
       prof_ratings['diff_final_cont'].size, '\n'

for topic in np.unique(dat.course):
    perTopic = dat[dat['course']==topic]
    grouped = perTopic.groupby(['course_number'])
    prof_ratings = grouped[theCols].agg(np.mean)
    (t, plow, pupper, pboth, sims) = corr(x = prof_ratings.q16, y = prof_ratings.diff_final_cont, rs = rs)
    print topic, t, pupper, prof_ratings['diff_final_cont'].size

Analyzing the correlation btw avg evaluation score and difference btw continuous assessment and final grade, by course number
overall 0.0389673158605 0.088 1177

history 0.136630399402 0.0216 224
ip -0.177640248323 0.9963 227
macro 0.0239854106221 0.3594 229
micro -0.0167164772184 0.5962 226
scpo 0.111944247681 0.0976 135
socio 0.121772764345 0.0834 136

In [ ]:
# dat with IP => to test for reliability on q10 (student self-assessed involvment in the course)